<h2>edit user</h2>

<form [formGroup]="editUser" (ngSubmit)="updateUser()">
  <div class="form-group">
    <label for="exampleInput1">FirstName</label>
    <input
      type="text"
      class="form-control"
      id="exampleInput1"
      formControlName="firstname"
      placeholder="Enter name"
    />
  </div>
  <div class="form-group">
    <label for="exampleInput1">LastName</label>
    <input
      type="text"
      class="form-control"
      id="exampleInput1"
      formControlName="lastname"
      placeholder="Enter name"
    />
  </div>
  <div class="form-group">
    <label for="exampleInput2">Email</label>
    <input
      type="email"
      class="form-control"
      id="exampleInput2"
      formControlName="Email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="exampleInput3">Contact</label>
    <input
      type="number"
      class="form-control"
      id="exampleInput3"
      formControlName="Contact"
      placeholder="Enter mobile number"
    />
  </div>
  <div class="form-group">
    <label for="exampleInput3">Customer Id</label>
    <input
      type="number"
      class="form-control"
      id="exampleInput3"
      formControlName="custID"
      placeholder="Enter mobile number"
    />
  </div>
  <div class="form-group">
    <label for="exampleInput3">Role Id</label>
    <input
      type="number"
      class="form-control"
      id="exampleInput3"
      formControlName="roleId"
      placeholder="Enter mobile number"
    />
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
